body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --text: #736f6f;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: #25252c;
  --accent: #f89027;

  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  width: 150px;
  height: 150px;
  display: flex;
  place-content: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.item {
  width: 56%;
  overflow: visible;
  stroke: #f89027;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.link {
  position: relative;
  color: #736f6f;
  font-family: "Lexend Tera", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--text);
}

.link::after {
  width: 0;
  transition: 0.3s;
}
.link:hover:after {
  width: 100%;
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #777777 #434343;
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #434343;
}
*::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 20px;
  border: 3px solid #434343;
}

