
.marqueeText {
  padding: 0 2%;

  span {
    color: #736f6f;
    font-family: "Lexend Tera", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: clamp(10px, 0.8vw, 20px);
    a {
      font-weight: 400;
      color: #736f6f;
      text-decoration: none;
    }
  }
}